- name: Setup Node
  uses: actions/setup-node@v3
  with:
    node-version: 18

- name: Install NPM dependencies
  run: npm ci

- name: Build Vite assets
  run: npm run build

# Luego ya se ejecutan las pruebas:
- name: Run PHPUnit tests
  run: php artisan test